# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
venv/
.env

# Django stuff
*.db
*.pot
*.pyc

# MacOS
.DS_Store

# VS Code
.vscode/

# Migrations (optional - only if you want to ignore them)
# */migrations/__pycache__/
# */migrations/*.pyc
# */migrations/*.py
